<script setup lang="ts">
import AppButton from "@/components/AppButton.vue";
import dayjs, { type Dayjs } from "dayjs";
import "dayjs/locale/es";
import isToday from "dayjs/plugin/isToday";
import { computed, ref } from "vue";

/*
Reto 3: Calendario de Eventos.

En este ejercicio vamos a lidiar con errores tanto de javascript como de maquetación. Tu papel es
arreglar estos errores y que la página, que actualmente no renderiza, cargue bien el contenido.
Además, vamos a añadir una funcionalidad al calendario: Queremos ver qué eventos hay cada día.
Como siempre, el diseño y la creatividad quedan del lado de tu lado, ¡Suerte!

Siéntete libre de modificar tanto código como sea necesario, recuerda que el código proporcionado es sólo un ejemplo.
*/

const eventsData = [
  {
    eventTime: "2023-11-09T00:00:00",
    type: "concert",
  },
  {
    eventTime: "2023-11-11T00:00:00",
    type: "meetup",
  },
  {
    eventTime: "2023-11-12T00:00:00",
    type: "meetup",
  },
  {
    eventTime: "2023-11-15T00:00:00",
    type: "concert",
  },
  {
    eventTime: "2023-12-18T00:00:00",
    type: "cinema",
  },
  {
    eventTime: "2023-11-21T00:00:00",
    type: "concert",
  },
  {
    eventTime: "2023-11-24T00:00:00",
    type: "meetup",
  },
  {
    eventTime: "2023-11-25T00:00:00",
    type: "meetup",
  },
  {
    eventTime: "2023-11-29T00:00:00",
    type: "cinema",
  },
];

const getEvents = (day: Dayjs) =>
  eventsData.filter((event) => dayjs(event.eventTime).isSame(day));

dayjs.extend(isToday);

const viewDate = ref(dayjs());

const daystoPrepend = computed(() => {
  const startOfMonth = viewDate.value.startOf("month");
  const startOfFirstWeek = startOfMonth.startOf("week");
  const daysToFirstDay = startOfMonth.diff(startOfFirstWeek, "day");

  return Array.from(new Array(daysToFirstDay).keys());
});

const days = computed(() => {
  const ranges = [];
  const startOfRange = viewDate.value.startOf("month").add(-1, "day");
  const endOfRange = viewDate.value.endOf("month").add(-1, "day");

  let currentDate = startOfRange;

  while (currentDate.isBefore(endOfRange) || currentDate.isSame(endOfRange)) {
    currentDate = currentDate.add(1, "day");
    ranges.push(currentDate);
  }
  return ranges;
});

const shiftMonth = (amount: number) => {
  viewDate.value = viewDate.value.add(amount, "month");
};

const reset = () => (viewDate.value = dayjs());
</script>

<template>
  <div class="flex flex-col items-center">
    <div class="flex gap-3 items-center justify-center">
      <AppButton @click="shiftMonth(-1)">
        {{ $t("label.previous") }}
      </AppButton>

      <span class="text-3xl">
        {{ viewDate.locale($i18n.locale).format("MMMM YYYY") }}
      </span>

      <AppButton @click="shiftMonth(1)">
        {{ $t("label.next") }}
      </AppButton>
    </div>

    <AppButton
      class="my-2"
      flat
      :label="$t('calendar.today')"
      @click="reset()"
    />
  </div>

  <div class="grid grid-cols-7 gap-1">
    <span
      v-for="(weekDay, index) in $tm('calendar.weekdays')"
      :key="index"
      class="text-center p-2"
      v-text="weekDay"
    ></span>
  </div>

  <div class="grid grid-cols-7 gap">
    <div
      v-for="(_, index) in daystoPrepend"
      :key="index"
    ></div>

    <div
      v-for="(day, index) in days"
      :key="index"
      class="border flex flex-col text-center h-24 lg:h-32"
      :class="{ 'bg-cyan-100': !!getEvents(day).length }"
    >
      <div :class="{ 'bg-red-300': day.isToday() }">
        {{ day.format("D") }}
      </div>

      <span
        v-for="({ type }, key) in getEvents(day)"
        :key="key"
        class="px-2 truncate"
      >
        {{ type }}
      </span>
    </div>
  </div>
</template>
