<script setup lang="ts">
import api from "@/api";
import AppButton from "@/components/AppButton.vue";
import AppInput from "@/components/AppInput.vue";
import { RouteName } from "@/router";
import { useToastStore } from "@/stores/toast";
import { useVuelidate } from "@vuelidate/core";
import { email, helpers, required } from "@vuelidate/validators";
import { useRequest } from "alova";
import { computed, reactive } from "vue";
import { useI18n } from "vue-i18n";
import { useRouter } from "vue-router";

/*
Reto 1: Validación de formularios

En este formulario de registro, vamos a pedir a los usuarios que nos proporcionen
un nombre, un email y una contraseña (dos veces). Las validaciones serán las siguientes:

  Nombre                Requerido | Máximo 64 letras
  Email                 Requerido | Formato Email
  Contraseña            Requerido | 8 caracteres alfanuméricos, un número y un caracter especial
  Repetir Contraseña    Requerido | Misma contraseña que la anterior

Siéntete libre de modificar tanto código como sea necesario, recuerda que el código proporcionado es sólo un ejemplo.
*/

const { send, loading, onSuccess } = useRequest(api.Post("user"), {
  immediate: false,
});
const isFormValid = computed(() => !v$.value.$invalid);

const submit = () => {
  v$.value.$touch();
  if (!isFormValid.value) return;

  console.log("Sending data to server...", form);
  send(form);
};

const toast = useToastStore();
const router = useRouter();
onSuccess(() => {
  toast.showSuccess(t("success"));
  router.push({
    name: RouteName.UserDetails,
  });
});

const { t } = useI18n();

const form = reactive({
  username: "",
  email: "",
  password: "",
  passwordConfirmation: "",
});

const rules = {
  username: { required },
  email: { required, email },
  password: {
    required,
    format: helpers.regex(
      // eslint-disable-next-line
      /^(?=(?:.*[A-Za-z0-9]){8})(?=(?:.*\d){1})(?=(?:.*[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]){1})[A-Za-z0-9!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]{10}$/,
    ),
  },
  passwordConfirmation: {
    required,
    equals: (val: string) => val === form.password,
  },
};

const v$ = useVuelidate(rules, form);
</script>

<i18n lang="json">
{
  "en": {
    "username": {
      "label": "Username",
      "placeholder": "Enter your nickname"
    },
    "email": {
      "label": "Email",
      "placeholder": "Enter your email"
    },
    "password": {
      "label": "Password",
      "placeholder": "Enter your password"
    },
    "passwordConfirmation": {
      "label": "Confirm password",
      "placeholder": "Repeat your password"
    },
    "submit": "Register",
    "success": "User created successfully."
  },

  "es": {
    "username": {
      "label": "Nombre de usuario",
      "placeholder": "Introduce tu nombre de usuario"
    },
    "email": {
      "label": "Correo electrónico",
      "placeholder": "Introduce tu correo electrónico"
    },
    "password": {
      "label": "Contraseña",
      "placeholder": "Introduce tu contraseña"
    },
    "passwordConfirmation": {
      "label": "Confirmación de contraseña",
      "placeholder": "Repite la contraseña"
    },
    "submit": "Registrar",
    "success": "Usuario creado correctamente."
  }
}
</i18n>

<template>
  <form
    class="flex flex-col gap-6"
    @submit.prevent="submit"
  >
    <AppInput
      v-model="form.username"
      :label="t('username.label')"
      maxlength="64"
      :placeholder="t('username.placeholder')"
      autofocus
      count
      :rules="v$.username"
    />

    <AppInput
      v-model="form.email"
      :label="t('email.label')"
      :placeholder="t('email.placeholder')"
      type="email"
      :rules="v$.email"
    />

    <AppInput
      v-model="form.password"
      :label="t('password.label')"
      :placeholder="t('password.placeholder')"
      autocomplete="off"
      type="password"
      :rules="v$.password"
    />

    <AppInput
      v-model="form.passwordConfirmation"
      :label="t('passwordConfirmation.label')"
      :placeholder="t('passwordConfirmation.placeholder')"
      autocomplete="off"
      type="password"
      :rules="v$.passwordConfirmation"
    />

    <AppButton
      class="mt-6 text-lg"
      rounded
      type="submit"
      v-bind="{ loading }"
    >
      {{ t("submit") }}
    </AppButton>
  </form>
</template>
