<script setup lang="ts">
import api from "@/api";
import { type UserDetailsResponse } from "@/api/types";
import AppCard from "@/components/AppCard.vue";
import ListItem from "@/components/UserDetails/ListItem.vue";
import { maskCreditCard } from "@/utils/string";
import { useRequest } from "alova";
import { capitalize, computed } from "vue";
import { useI18n } from "vue-i18n";

/*
Reto 2: Vista de Datos del Usuario.

En este ejercicio queremos poner en práctica la creatividad y la capacidad de proponer mejoras
en los diseños por parte del desarrollador. En nuestro día a día trabajaremos con diseños definidos,
pero también vamos a valorar la capacidad de las personas a la hora de proponer estructuración para los datos.

Siéntete libre de modificar tanto código como sea necesario, recuerda que el código proporcionado es sólo un ejemplo.
*/

const { t, d } = useI18n({
  fallbackRoot: true,
  messages: {
    en: {
      address: "{address}, {postalCode} {city}",
    },
    es: {
      address: "{address}, {postalCode} {city}",
    },
  },
  datetimeFormats: {
    en: {
      birthDate: {
        day: "numeric",
        month: "2-digit",
        year: "numeric",
      },
    },
    es: {
      birthDate: {
        day: "numeric",
        month: "2-digit",
        year: "numeric",
      },
    },
  },
});

const { data: userData, loading } = useRequest(
  api.Get<UserDetailsResponse>("users/1"),
);

const fullName = computed(() =>
  [userData.value?.firstName, userData.value?.lastName].join(" "),
);
</script>

<i18n lang="json">
{
  "en": {
    "personalData": {
      "title": "Personal data",
      "fullName": "Full name",
      "userName": "User name",
      "birthDate": "Birth date",
      "age": "Age"
    },
    "contactData": {
      "title": "Contact data",
      "email": "Email",
      "phone": "Phone number",
      "address": "Address"
    },
    "healthData": {
      "title": "Health data",
      "bloodGroup": "Blood group",
      "height": "Height",
      "weight": "Weight",
      "ssn": "Social security number"
    },
    "bankData": {
      "title": "Bank data",
      "iban": "IBAN",
      "cardNumber": "Card number",
      "cardType": "Card type",
      "expirationDate": "Expiration date",
      "currency": "Currency"
    },
    "professionalData": {
      "title": "Professional data",
      "ein": "Employee ID",
      "job": "Job position",
      "department": "Department",
      "companyName": "Company",
      "companyAddress": "Address"
    }
  },
  "es": {
    "personalData": {
      "title": "Datos personales",
      "fullName": "Nombre completo",
      "userName": "Nombre de usuario",
      "birthDate": "Fecha de nacimiento",
      "age": "Edad"
    },
    "contactData": {
      "title": "Datos de contacto",
      "email": "Correo electrónico",
      "phone": "Teléfono",
      "address": "Domicilio"
    },
    "healthData": {
      "title": "Datos sanitarios",
      "bloodGroup": "Grupo sanguíneo",
      "height": "Altura",
      "weight": "Peso",
      "ssn": "Número de Seguridad Social"
    },
    "bankData": {
      "title": "Datos bancarios",
      "iban": "IBAN",
      "cardNumber": "Número de tarjeta",
      "cardType": "Tipo de tarjeta",
      "expirationDate": "Fecha de caducidad",
      "currency": "Moneda"
    },
    "professionalData": {
      "title": "Datos profesionales",
      "ein": "ID de empleado",
      "job": "Puesto",
      "department": "Departamento",
      "companyName": "Compañía",
      "companyAddress": "Dirección"
    }
  }
}
</i18n>

<template>
  <div class="grid lg:grid-cols-2 gap-4">
    <AppCard>
      <div class="flex justify-center mb-4">
        <div
          class="w-20 h-20 bg-gray-100 rounded-full overflow-hidden flex flex-center"
        >
          <img :src="userData?.image" />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <ListItem
          v-bind="{ loading }"
          :label="t('personalData.fullName')"
          :value="fullName"
        />

        <ListItem
          v-bind="{ loading }"
          :label="t('personalData.userName')"
          :value="userData?.username"
        />

        <ListItem
          v-bind="{ loading }"
          :label="t('personalData.birthDate')"
          :value="d(userData?.birthDate || new Date(), 'birthDate')"
        />

        <ListItem
          v-bind="{ loading }"
          :label="t('personalData.age')"
          :value="$t('label.age', { age: userData?.age }, userData?.age)"
        />
      </div>
    </AppCard>

    <AppCard :title="t('contactData.title')">
      <div class="flex flex-col gap-2">
        <ListItem
          v-bind="{ loading }"
          :label="t('contactData.email')"
          :value="userData?.email"
        />

        <ListItem
          v-bind="{ loading }"
          :label="t('contactData.phone')"
          :value="userData?.phone"
        />

        <ListItem
          v-bind="{ loading }"
          :label="t('contactData.address')"
          :value="t('address', { ...userData?.address })"
        />
      </div>
    </AppCard>

    <AppCard :title="t('healthData.title')">
      <div class="flex flex-col gap-2">
        <ListItem
          v-bind="{ loading }"
          :label="t('healthData.ssn')"
          :value="userData?.ssn"
        />

        <ListItem
          v-bind="{ loading }"
          :label="t('healthData.bloodGroup')"
          :value="userData?.bloodGroup"
        />

        <ListItem
          v-bind="{ loading }"
          :label="t('healthData.height')"
          :value="
            userData?.height?.toLocaleString($i18n.locale, {
              style: 'unit',
              unit: 'centimeter',
            })
          "
        />

        <ListItem
          v-bind="{ loading }"
          :label="t('healthData.weight')"
          :value="
            userData?.weight?.toLocaleString($i18n.locale, {
              style: 'unit',
              unit: 'kilogram',
            })
          "
        />
      </div>
    </AppCard>

    <AppCard :title="t('bankData.title')">
      <div class="flex flex-col gap-2">
        <ListItem
          v-bind="{ loading }"
          :label="t('bankData.iban')"
          :value="userData?.bank?.iban"
        />
        <ListItem
          v-bind="{ loading }"
          :label="t('bankData.cardNumber')"
          :value="maskCreditCard(userData?.bank?.cardNumber)"
        />
        <ListItem
          v-bind="{ loading }"
          :label="t('bankData.cardType')"
          :value="capitalize(userData?.bank?.cardType || '')"
        />
        <ListItem
          v-bind="{ loading }"
          :label="t('bankData.expirationDate')"
          :value="userData?.bank?.cardExpire"
        />
        <ListItem
          v-bind="{ loading }"
          :label="t('bankData.currency')"
          :value="userData?.bank?.currency"
        />
      </div>
    </AppCard>

    <AppCard :title="t('professionalData.title')">
      <div class="flex flex-col gap-2">
        <ListItem
          v-bind="{ loading }"
          :label="t('professionalData.ein')"
          :value="userData?.ein"
        />
        <ListItem
          v-bind="{ loading }"
          :label="t('professionalData.job')"
          :value="userData?.company?.title"
        />
        <ListItem
          v-bind="{ loading }"
          :label="t('professionalData.department')"
          :value="userData?.company?.department"
        />
        <ListItem
          v-bind="{ loading }"
          :label="t('professionalData.companyName')"
          :value="userData?.company?.name"
        />
        <ListItem
          v-bind="{ loading }"
          :label="t('professionalData.companyAddress')"
          :value="t('address', { ...userData?.company?.address })"
        />
      </div>
    </AppCard>
  </div>
</template>
