<script setup lang="ts">
import { computed } from "vue";

export interface AppButtonProps {
  type?: "button" | "submit" | "reset";
  label?: string;
  color?: string;
  textColor?: string;
  square?: boolean;
  flat?: boolean;
  loading?: boolean;
}

const props = withDefaults(defineProps<AppButtonProps>(), {
  type: "button",
  label: "",
  color: "primary",
  textColor: "white",
});

const bgColor = computed(() => (props.flat ? props.textColor : props.color));
const labelColor = computed(() => (props.flat ? props.color : props.textColor));
</script>

<template>
  <button
    v-bind="{ type, ...$attrs }"
    :disabled="loading"
    class="app-button font-semibold font-sans px-4"
    :class="[`bg-${bgColor}`, `text-${labelColor}`, { 'rounded-lg': !square }]"
  >
    <template v-if="loading">
      <slot name="loading"> Loading... </slot>
    </template>
    <slot v-if="!loading">
      {{ label }}
    </slot>
  </button>
</template>

<style scoped>
button {
  min-height: 40px;
  position: relative;
  outline: none;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover::before {
    opacity: 0.15;
  }

  &:focus::before {
    opacity: 0.25;
  }
}
</style>
