<script setup lang="ts">
export interface AppCardProps {
  title?: string;
}

withDefaults(defineProps<AppCardProps>(), {
  title: "",
});
</script>

<template>
  <div class="app-card border p-4 rounded-lg self-start">
    <template v-if="title">
      <div class="text-xl font-semibold text-center mb-4">
        {{ title }}
      </div>
    </template>

    <slot></slot>
  </div>
</template>
