<script setup lang="ts">
import type { Validation } from "@vuelidate/core";
import { computed } from "vue";
import { useI18n } from "vue-i18n";

export type AppInputValue = string | number | null;

export interface AppInputProps {
  modelValue: AppInputValue;
  label: string;
  type?: "text" | "email" | "tel" | "url" | "password" | "search";
  rules?: Partial<Validation>;
  count?: boolean;
}

const props = withDefaults(defineProps<AppInputProps>(), {
  type: "text",
  rules: undefined,
});

const emit = defineEmits(["update:model-value"]);
const onInput = (e: Event) => {
  // @ts-ignore
  emit("update:model-value", e.target?.value);
  props.rules?.$touch?.();
};

const { t } = useI18n({ useScope: "global" });
const errors = computed(() => {
  return [...(props.rules?.$errors || [])].map((error) =>
    t(`validations.${error.$validator}`),
  );
});
</script>

<template>
  <label class="app-input flex flex-col w-full">
    <span class="font-semibold text-md mb-2">
      {{ label }}
    </span>

    <input
      v-bind="{ modelValue, type, ...$attrs }"
      class="bg-gray-100 px-4 py-2 rounded-lg focus:outline-none border-4"
      :class="rules?.$errors?.length ? 'border-negative' : 'border-transparent'"
      @input="onInput"
    />

    <div class="flex items-start justify-between text-sm m-1">
      <ul class="text-negative font-semibold">
        <li
          v-for="(error, index) in errors"
          :key="index"
        >
          {{ error }}
        </li>
      </ul>

      <span v-if="count && modelValue">
        {{ modelValue?.toString().length }}
        <template v-if="$attrs.maxlength"> / {{ $attrs.maxlength }} </template>
      </span>
    </div>
  </label>
</template>
