<script setup lang="ts">
import type { RouteName } from "@/router";
import { RouterLink } from "vue-router";

export interface AppLinkProps {
  to: RouteName;
}

defineProps<AppLinkProps>();
</script>

<template>
  <RouterLink
    class="app-link text-secondary px-4 py-2 hover:bg-gray-700"
    :to="{ name: to }"
    v-text="$t(`router.${to}`)"
  />
</template>
