<script setup lang="ts">
export interface AppToolbarProps {
  tag?: string;
}

withDefaults(defineProps<AppToolbarProps>(), {
  tag: "aside",
});
</script>

<template>
  <component
    :is="tag"
    class="app-sidebar p-4"
  >
    <slot></slot>
  </component>
</template>
