<script setup lang="ts">
import { computed } from "vue";

export interface AppToastProps {
  message: string;
  type?: "success" | "error";
}

const props = withDefaults(defineProps<AppToastProps>(), {
  type: "success",
});

const bgColor = computed(() => {
  return {
    success: "positive",
    error: "negative",
  }[props.type];
});
</script>

<template>
  <div :class="['app-toast p-4 text-center flex', `bg-${bgColor}`]">
    <div class="w-full">
      {{ message }}
    </div>
  </div>
</template>
