<script setup lang="ts">
export interface AppToolbarProps {
  tag?: string;
}

withDefaults(defineProps<AppToolbarProps>(), {
  tag: "header",
});
</script>

<template>
  <component
    :is="tag"
    class="app-toolbar p-4 flex items-center"
  >
    <slot></slot>
  </component>
</template>
