<script setup lang="ts">
import AppSkeleton from "../AppSkeleton.vue";

defineProps<{
  label: string;
  value?: string | number;
  loading?: boolean;
}>();
</script>

<template>
  <div class="flex flex-col md:flex-row md:items-center md:justify-between">
    <span class="font-medium text-sm">
      {{ label }}
    </span>

    <AppSkeleton v-if="loading" />
    <span v-else>
      {{ value }}
    </span>
  </div>
</template>
