<script setup lang="ts">
import { storeToRefs } from "pinia";
import AppToast from "./components/AppToast.vue";
import { useToastStore } from "./stores/toast";

const { state: notifications } = storeToRefs(useToastStore());
</script>

<template>
  <RouterView />
  <div class="notifications absolute bottom-0 inset-x-0">
    <template
      v-for="toast in notifications"
      :key="toast.id"
    >
      <AppToast v-bind="toast" />
    </template>
  </div>
</template>
