<script setup lang="ts">
import AppButton from "@/components/AppButton.vue";
import AppLink from "@/components/AppLink.vue";
import AppSidebar from "@/components/AppSidebar.vue";
import AppToolbar from "@/components/AppToolbar.vue";
import { RouteName } from "@/router";
import { Bars3Icon } from "@heroicons/vue/24/solid";
import { ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { RouterView, useRoute } from "vue-router";

const { t } = useI18n();
const isMenuVisible = ref(false);
const route = useRoute();
watch(route, () => {
  isMenuVisible.value = false;
});
</script>

<i18n lang="json">
{
  "en": {
    "locale": {
      "en": "English",
      "es": "Spanish"
    }
  },

  "es": {
    "locale": {
      "en": "Inglés",
      "es": "Español"
    }
  }
}
</i18n>

<template>
  <div class="h-full w-full flex flex-col">
    <AppToolbar
      class="bg-primary text-secondary justify-between gap-4 sticky top-0 w-full z-10"
    >
      <AppButton
        class="px-1.5"
        @click="isMenuVisible = !isMenuVisible"
      >
        <Bars3Icon class="w-8" />
      </AppButton>

      <div class="flex gap-4">
        <div class="text-xl font-semibold">Frontend challenge</div>
        <select v-model="$i18n.locale">
          <option
            v-for="locale in $i18n.availableLocales"
            :key="locale"
            :value="locale"
          >
            {{ t(`locale.${locale}`) }}
          </option>
        </select>
      </div>
    </AppToolbar>

    <div class="overflow-y-auto flex flex-1">
      <AppSidebar
        v-show="isMenuVisible"
        class="bg-primary text-white fixed left-0 z-10 h-full"
      >
        <nav class="space-y-2 flex flex-col">
          <AppLink :to="RouteName.Intro" />
          <div class="border my-6"></div>
          <AppLink :to="RouteName.RegisterForm" />
          <AppLink :to="RouteName.UserDetails" />
          <AppLink :to="RouteName.EventCalendar" />
        </nav>
      </AppSidebar>

      <main class="flex-1 overflow-y-auto p-4">
        <div class="bg-white p-10 rounded-lg shadow-lg min-w-full">
          <RouterView />
        </div>
      </main>
    </div>
  </div>
</template>

<style scoped>
:deep(.app-sidebar) {
  width: 80vw;
  max-width: 300px;
}
</style>
